{% extends "base.html" %}

{% block title %}Upload a new image{% endblock %}

{% block body %}
    <div class="row pt-5">
        <form action="" method="POST" enctype="multipart/form-data" class="col-sm-4 offset-4">
            <h2 class="p-5">Upload an image</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="p-5">
                <button type="submit" class="btn btn-success">
                    Upload Image
                </button>
            </div>
        </form>
    </div>
    
{% endblock %}